/* css for fluentu-sticky-header  */
/* with left and right section */
/* right seciton with list of laguages with flags and text */
/* left section with heading */


.fluentu-sticky-header {
    max-width: 59em;
    margin: 0 auto;
}

.main {
    padding-top: 9.3333em !important;
}


.fluentu-sticky-header h1 {
    font-size: 14px;
    color: #070707;
    margin: 11px 0px 5px;
    width: 100%;
}
.fluentu-sticky-header.NEW {
    max-width: 59em;
    padding: 0em 7.69% 0.75em;
    border-top: 1px solid #cbcbcb;
    padding-bottom: 15px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    background: #fff;
    z-index: 10000;
}
.fluentu-sticky-header-right .fluent_language a {
    color: #050505;
    font-weight: 600;
    text-decoration: none;
    width: 100px;
}
.fluent_language img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 12px;
}
.fluentu-sticky-header-right {
    display: flex;
    overflow-x: auto !important;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 6px;
}
.fluentu-sticky-header-right .fluent_language a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fluent_language {
    border: 1px solid #cacbcb;
    margin-right: 13px;
    display: flex;
    padding: 3px 4px;
    justify-content: center;
    align-items: center;
}
.fluent_language span {
    font-size: 15px;
}
.fluentu-sticky-header-right::-webkit-scrollbar {
    height:4px;
    border-radius:5px;
}
.fluentu-sticky-header-right::-webkit-scrollbar-track {
  background: #f0f0f0; 
}
.fluentu-sticky-header-right::-webkit-scrollbar-thumb {
  background: #bcbcbc; 
}

.fluentu-sticky-header-right::-webkit-scrollbar-thumb:hover {
  background:#d2d5d6; 
}